* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: white;
  text-shadow: 0 0 20px #48c8ff;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #48c8ff;
   /* responsive background image*/
   background-image: url(./images/Soup1a_.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
/* background-attachment: fixed; */ 
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 25rem;
  font-size: 4rem;
  /* width: 100%; */
}

.timer {
  display: flex;
  width: 100%;
  justify-content:center;
  margin: auto;
  /* font-size: 3.5rem; */
  
  
}

#timer {
  font-size: 3em;
  font-weight: 400;
}

#timer div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-width: 90px;
}

#timer div span {
  color: #ffffff;
  display: block;
  font-size: 0.4em;
  font-weight: 400;
}

.call-to-action {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  margin-top: 6rem;
  margin-left: 7rem;
}

.social-network {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin: auto;
}

.call-to-action button {
  display: flex;
  align-items: end;
  border: 5px; solid rgb(255, 213, 0);
  background: none;
 text-decoration: underline;
  font-size: 1.5rem;
  font-weight: 500;
  width: 12.75rem;
  height: 3.25rem;
  
}

.social-network button {
  border: 5px; solid rgb(255, 213, 0);
  background: none;
  font-weight: 500;
  text-decoration: underline;
  margin: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  text-shadow: 0 0 20px #48c8ff;
}

button:hover {
    cursor: pointer;
    /* text-transform: uppercase; */
    text-shadow: 0 0 20px #000000;
}