* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

video {
  z-index: -2;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.2;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #48c8ff;
  color: white;
  text-shadow: 0 0 20px #48c8ff;
  background-image: url(./images/Soup1a_.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 18rem;
  margin-bottom: 12rem;
  font-size: 4rem;
}

.timer {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: auto;
}

#timer {
  font-size: 3em;
  font-weight: 400;
}

#timer div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-width: 90px;
}

#timer div span {
  color: #ffffff;
  display: block;
  font-size: 0.4em;
  font-weight: 400;
}

.call-to-action {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  margin-top: 6rem;
  /* margin-left: 7rem; */
}

.social-network {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin: auto;
}

.call-to-action button,
.social-network button {
  color: white;
  border: none;
  background: none;
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
}

.call-to-action button {
  font-size: 1.5rem;
  width: 12.75rem;
  height: 3.25rem;
}

.social-network button {
  padding-top: 0.5rem;
  font-size: 1rem;
  width: 5rem;
  height: 3rem;
  text-shadow: 0 0 20px #48c8ff;
}

button:hover {
  text-shadow: 0 0 20px #000000;
}

/* modal */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;

  /* scale hides the modal  */
  transform: translate(-50%, -50%) scale(0);
  transition: 100ms ease-in-out;

  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.089);
  backdrop-filter: blur(10px);
  height: 95vh;
  width: 90vw;
  max-width: 80%;
}

.modal.active {
  /* scale reveals the modal 0-1 */
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .modal-title {
  font-size: 1.2rem;
  font-weight: 700;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.3rem;
  font-weight: 700;
}

.modal-body {
  padding: 10px 15px;
}

/* maybe i dont need this overlay 
maybe take it out from js*/

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}
