* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #48c8ff;
  color: white;
  text-shadow: 0 0 20px #48c8ff;
  background-image: url(./images/Soup1a_.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 18rem;
  margin-bottom: 12rem;
  font-size: 4rem;
}

.timer {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: auto;
}

#timer {
  font-size: 3em;
  font-weight: 400;
}

#timer div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-width: 90px;
}

#timer div span {
  color: #ffffff;
  display: block;
  font-size: 0.4em;
  font-weight: 400;
}

.call-to-action {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  margin-top: 6rem;
  /* margin-left: 7rem; */
}

.social-network {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin: auto;
}

.call-to-action button,
.social-network button {
  color: white;
  border: none;
  background: none;
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
}

.call-to-action button {
  font-size: 1.5rem;
  width: 12.75rem;
  height: 3.25rem;
}

.social-network button {
  padding-top: 0.5rem;
  font-size: 1.2rem;
  width: 5rem;
  height: 3rem;
  text-shadow: 0 0 20px #48c8ff;
}

button:hover {
  text-shadow: 0 0 20px #000000;
}
